*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #0d1217;
  --text-color: #dfe5ec;
  --green-color: #32ca5b;
  --light-green: #5be583;
  --dark-color: #272d35;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat";
  overflow-x: hidden;
}
.nav__container {
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1100px;
  padding: 0rem 2rem;
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.nav__left {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 0.8rem;
  flex-direction: row;
}

.nav__left-h2 {
  font-size: 1rem;
  font-weight: 500;
}
.nav__left-h2:hover {
  color: var(--green-color);
}

.nav__left a {
  color: inherit;
  text-decoration: none;
}
.nav__left img {
  width: 100px;
  height: auto;
  margin-right: 0.3rem;
}
.nav__right input {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.nav__right input:focus {
  outline: none;
}
.nav__right button {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--green-color);
  cursor: pointer;
}
.nav__right button:hover {
  background-color: var(--light-green);
}

/* mobile menu */
.nav__mobile-menu {
  display: none;
}

.nav__mobile-menu-list li {
  list-style: none;
}
.nav__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: var(--text-color);

  padding: 3rem 2rem;
  text-align: center;
  list-style: none;
  color: black;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.nav__mobile-menu-items.active {
  transform: translateX(0%);
}
.nav__mobile-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.nav__mobile-menu-toggle {
  cursor: pointer;
}
.nav__mobile-menu-list li {
  cursor: pointer;
}
.nav__mobile-menu-list li:hover {
  color: var(--green-color);
}
.nav {
  position: relative;
}
.nav__mobile-menu-toggle {
  display: inline;
}
.nav__mobile-menu img {
  width: 100px;
  height: auto;
}
.nav__mobile-menu-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav.coin-details {
  margin-bottom: 4rem;
}
/* heading */
.heading {
  padding-top: 4rem;
  text-align: center;
}
/* trending card section */
.card__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 4rem 2rem;
}
.card {
  background-color: var(--background-color);
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6),
    0 4px 12px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  gap: 1rem;
}
.gain {
  color: green !important;
}
.priceChange24,
.coin-price-percent-change,
.card-info-percent-24,
.historical-price-change-24,
.historical-price-change-7,
.historical-price-ath-percent-change,
.historical-price-atl-percent-change,
.categoriesPercent24 {
  color: red;
}
/* search cards */
.card__container a {
  color: inherit;
  text-decoration: none;
}
.search-card-image {
  max-width: 90px;
  height: auto;
}
.search-card-name {
  font-size: 1.5rem;
}
.card:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* coin details */
/* card-left */

.card-info img {
  max-width: 50px;
  height: auto;
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.card-info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}
.card-info-section {
  width: 100%;
}

.card-info-price {
  display: flex;
  gap: 0.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-info__container {
  margin-top: 4rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}
.card-info-section-container {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.card-info-main-container {
  margin-bottom: 1rem;
}
/* historical price card */
.historical-price__container {
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 4rem;
}
.historical-price-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.historical-price-heading {
  text-align: center;
}
.historical-price-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.historical-price-section-right {
  text-align: right;
  display: flex;
  align-items: end;

  flex-direction: column;
  text-align: right;
}
.historical-price-section-top {
  display: flex;
  gap: 0.4rem;
}
.historical-price-heading {
  margin-bottom: 1rem;
}

.historical-price-section-bottom p {
  font-size: 0.8rem;
  opacity: 0.8;
}
/* card exchanges */

/* pagination */
.pagination__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 2rem;
}
.pagination button {
  padding: 8px 16px;
  background-color: var(--green-color);
  border-radius: 10px;
  cursor: pointer;
}
.pagination button:hover {
  background-color: var(--light-green);
}
.pagination__buttons {
  margin-bottom: 0.5rem;
}

.pagination__container {
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.pageNumber {
  text-align: center;
}

/* categories cards */
.categories-top-gainers-images img {
  max-width: 35px;
}
.categories-top-gainers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.categories-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}
.categories-title {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}
.categories-section {
  font-size: 1rem;
}

/* trust score  */

.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}

/* exchange details */

.exchange-details__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0rem 2rem 3rem;
}

.exchange-card {
  background-color: var(--background-color);
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6),
    0 4px 12px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 400px;
  gap: 0.2rem;
}

.exchange-card-description-p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.exchange-card-trust,
.exchange-card-tradeVol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.exchange-card-title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}
.exchange-card-title-section p {
  font-size: 1rem;
}

.websiteButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}
.websiteButtons button {
  padding: 6px 12px;
  border-radius: 10px;
  background-color: #212d3b;
  color: white;
  border: none;
}
.websiteButtons button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.websitesAndCommunities {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 0.5rem;
}
.exchange-card-description-p {
  margin-top: 0.5rem;
  text-align: left;
  text-indent: 20px;
}
.exchange-card-section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

/* categories details page */

.categories-coin-details__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0rem 2rem 3rem;
}

.categories-coin-details {
  background-color: var(--background-color);
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6),
    0 4px 12px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 400px;
  gap: 0.4rem;
}
.categories-coin-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.categories-coin-coins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.categories-coins-img img {
  width: 35px;
}
.categories-coin-title {
  margin-bottom: 0.1rem;
}
.categories-coin-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}
.categories-coin-section.one {
  margin-bottom: 0.5rem;
}
.categories-coin-title {
  margin-bottom: 0.6rem;
}
@media (max-width: 900px) {
  .nav__mobile-menu {
    display: block;
  }
  .nav__left {
    display: none;
  }
}

@media (max-width: 500px) {
  form button {
    display: none;
  }
  .nav__mobile-menu-left img {
    width: 80px;
  }
  .card-info__container {
    max-width: 320px;
  }
  .historical-price__container {
    max-width: 320px;
  }
  .categories-coin-details__container {
    padding-bottom: 0rem 2rem 0rem !important;
  }
}
